.ana-sayfa{
    text-align: center;
    padding: 0 5%;
}

.main-part{
    background-color: #EEEEEE;
    border: 0;
    width: 90%;
}

.search{
    background-color: #EEEEEE;
}

.links{
    background-color: #7EE5DA;
}

.special-searches{
    width: 37%;
}